<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pdesigns.com.lastorders">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />




    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Google MAP API key -->

    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyDKymeBXNeiFWY5jRUejv6zItpmr2MVyQ0" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".provider.AppController"
        android:allowBackup="true"
        android:icon="@drawable/bell"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ClientSide.FirstViewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClientSide.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ClientSide.MainActivity"
            android:label="@string/barsaround"
            android:parentActivityName=".ClientSide.FirstViewActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ClientSide.MainEvent"
            android:label="@string/barsaround"
            android:parentActivityName=".ClientSide.FirstViewActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ClientSide.BarMainViewActivity"
            android:label="@string/barsaround"
            android:parentActivityName=".ClientSide.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service android:name=".provider.JsonIntentService" />
        <service
            android:name=".provider.JsonService"
            android:enabled="true"
            android:exported="true"></service>

        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


        <activity
            android:name=".ClientSide.MapsActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ClientSide.BarMainViewActivity" />
        </activity>
        .

        <activity
            android:name=".ClientSide.ProfileActivity"
            android:label="UserProfile"
            android:parentActivityName=".ClientSide.FirstViewActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>
